Facebook/*
Facebook_backup/*
notebooks/*
utils/kdtrees/*
utils/shapefiles/*
utils/globals/*
covid19.compute.dtu.dk/static/data/*
covid19.compute.dtu.dk/public/data/*
.idea/*
.ipynb_checkpoints/*
*.py[cod]
*.swp
*.DS_Store
# Exception to keep folder
!covid19.compute.dtu.dk/public/data/tile_vis
!covid19.compute.dtu.dk/static/data/tile_vis

covid19.compute.dtu.dk/static/data/tile_vis/*
covid19.compute.dtu.dk/public/data/tile_vis/*

!covid19.compute.dtu.dk/public/data/tile_vis/.gitkeep
!covid19.compute.dtu.dk/static/data/tile_vis/.gitkeep
