<!-- HTML -->
<!-- ---- -->
<!DOCTYPE html>
<meta charset="utf-8">

<!-- Div that SVG objects are appended to -->
<div class="flex">
	<div class="radio-timeframe" id='radio-changeFig'></div>
	<div class="select-place" id='select-changeFig'></div>
</div>
<div class='vis' id='vis-change'></div>


<!-- JavaScript -->
<!-- ---------- -->

<!-- Code -->
<script>

	let spinnerchange = new Spinner(spinnerOpts).spin(document.getElementById('vis-change'));

	let instance_change;
	d3.json('/data/'+sessionStorage.country+'_change.json').then(function(data) {
		spinnerchange.stop();
		instance_change = new DeviationPlot(data, 'vis-change', 'changeFig');
		instance_change.setup();
		instance_change.drawLayout();
		instance_change.drawData();
	})

</script>
