<!-- HTML -->
<!-- ---- -->
<!DOCTYPE html>
<meta charset="utf-8">

<!-- Div that SVG objects are appended to -->
<div class="flex">
	<div id="slider-movementsFig"></div>
	<div class="radio-timeframe" id='radio-movementsFig'></div>
</div>
<div class="flex flex-col">
	<div class='vis' id='vis-movementsFig'></div>
</div>


<!-- JavaScript -->
<!-- ---------- -->

<!-- Code -->
<script>

	let spinnermovements = new Spinner(spinnerOpts).spin(document.getElementById('vis-movementsFig'));

	let instance_movements;
	d3.json("/data/Sweden_geojson.json").then(function(geoData) {
		d3.json('/data/Sweden_movements_between_admin_regions.json').then(function(data) {
			spinnermovements.stop();
			console.log(data)
			console.log(geoData)
			instance_movements = new MovementsMap(data, geoData, 'movementsFig');
			instance_movements.setup();
			instance_movements.drawLayout();
			instance_movements.drawData();
		})
	})

</script>