<!-- HTML -->
<!-- ---- -->
<!DOCTYPE html>
<meta charset="utf-8">

<!-- Div that SVG objects are appended to -->
<div class="flex">
	<div class="radio-timeframe" id='radio-movementsFig'></div>
	<div class="select-place" id='select-movementsFig'></div>
</div>
<div class="flex flex-col">
	<div class='vis' id='vis-movementsFig'></div>
	<div id="slider-movementsFig"></div>
</div>


<!-- JavaScript -->
<!-- ---------- -->

<!-- Code -->
<script>

	let instance_movements;

	d3.json("/data/Denmark_geojson.json").then(function(geoData) {
		d3.json('/data/Denmark_movements_between_admin_regions.json').then(function(data) {
			console.log(data)
			instance_movements = new MovementsMap(data, geoData, 'movementsFig');
			instance_movements.setup();
			instance_movements.drawLayout();
			instance_movements.drawData();
		})
	})

</script>